<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "image": "{{ .Page.Params.Image.Src | default "logo.png" | absURL }}",
    "url": "{{ .Permalink }}",
    "headline": "{{ .Page.Title }}",
    "dateCreated": "{{ .Page.Date.Format "2006-01-02T15:04:05-07:00" }}",
    "datePublished": "{{ .Page.PublishDate.Format "2006-01-02T15:04:05-07:00" }}",
    "dateModified": "{{ .Page.Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
    "inLanguage": "{{ .Site.Language.Lang }}",
    "isFamilyFriendly": true,
    "copyrightYear": "{{ .Page.PublishDate.Format "2006" }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Params.PublisherName }}",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.PublisherLogo | absURL }}",
        "width": {{ .Site.Params.PublisherLogoWidth }},
        "height": {{ .Site.Params.PublisherLogoHeight }}
      }
    },
    "mainEntityOfPage": "{{ .Page.Permalink }}",
    "articleSection": "{{ with .Page.Parent }}{{ .Title }}{{ end }}"
    {{- with .Page.Params.Author }}
    ,"copyrightHolder": { "@type": "Person", "name": "{{ .Name }}" }
    ,"accountablePerson": { "@type": "Person", "name": "{{ .Name }}", "url": "{{ .Homepage | absURL }}" }
    ,"author": {
      "@type": "Person",
      "name": "{{ .Name }}",
      "url": "{{ .Homepage | absURL }}"
      {{- with .Image }},"image": "{{ . | absURL }}"{{ end }}
      {{- with .Bio }},"description": "{{ . }}"{{ end }}
    }
    ,"creator": {
      "@type": "Person",
      "name": "{{ .Name }}",
      "url": "{{ .Homepage | absURL }}"
      {{- with .Image }},"image": "{{ . | absURL }}"{{ end }}
      {{- with .Bio }},"description": "{{ . }}"{{ end }}
    }
    {{- end }}
    {{- with .Params.Keywords }},"keywords": {{ . | jsonify }}{{ end }}
    {{- with .Params.Tags }},"genre": {{ . | jsonify }}{{ end }}
  }
</script>
