<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {{ range $index, $breadcrumb := $.Scratch.Get "breadcrumb" }}
          {{ if ne $index 0 }},{{ end }}
          {
            "@type": "ListItem",
            "position": {{ add $index 1 }},
            "item": {
              "@id": "{{ $breadcrumb.url }}",
              "name": "{{ $breadcrumb.name }}"
            }
          }
        {{ end }} ]
    }
</script>