<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "L'Amuravela",
        "startDate": "2022-06-29T12:00:00",
        "endDate": "2022-06-29T14:00:00",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "isAccessibleForFree": true,
        "location": {
            "@type": "Place",
            "name": "La Ribera de Cudillero",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "C. Ribera, 3-5",
                "addressLocality": "Cudillero",
                "postalCode": "33150",
                "addressRegion": "Asturias",
                "addressCountry": "ES"
            }
        },
        "image": [
            "https://amuravela.com/images/foto-antigua-lamuravela-05.jpg",
            "https://amuravela.com/images/foto-antigua-lamuravela-07.jpg"
        ],
        "description": "L'Amuravela es un sermón laico, una tradición medio religiosa y medio profana heredada de generación en generación como demostración de la especial devoción que el pueblo pixueto siente por su Patrón San Pedro.",
        "performer": {
            "@type": "Person",
            "name": "Cesáreo Marqués Valle",
            "url": "https://amuravela.com/reciters/cesareo-marques-valle/"
        },
        "organizer": {
            "@type": "Organization",
            "name": "L'Amuravela",
            "url": "https://amuravela.com"
        }
    }
</script>