<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "inLanguage": "{{ .Site.Language.Lang }}",
      "mainEntity": [
        {
            "@type": "Question",
            "name": "{{ i18n "whatT" }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ i18n "whatP1" }}"
            }
        }, {
            "@type": "Question",
            "name": "{{ i18n "whereT" }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ i18n "whereP1" }}"
            }
        }, {
            "@type": "Question",
            "name": "{{ i18n "whenT" }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ i18n "whenP1" }}"
            }
        }
      ]
    }
</script>
