{{ define "styles" }}
    <style>
        {{- with resources.Get "css/article.css" | resources.PostCSS -}}
            {{- .Content | safeCSS -}}
        {{- end -}}
    </style>
{{ end }}

{{ define "main" }}
    <article>
        <div class="summary">
            <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="content">
            {{.Content}}
            {{ $pieces := where (where .Site.Pages "Section" "amuravelas") "Params.reciter.homepage" .RelPermalink }}
            {{ if gt (len $pieces) 0 }}
                <p>Las obras recitadas por {{ .Title }} son:</p>
                <ul class="list">
                    {{ range $pieces }}
                        <li>
                            <a href="{{.Permalink}}">{{.Title}} <span class="arrow-right">&#8594;</span></a>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
	</article>
{{ end }}