{{ define "styles" }}
    <style>
        {{- with resources.Get "css/article.css" | resources.PostCSS -}}
            {{- .Content | safeCSS -}}
        {{- end -}}
    </style>
{{ end }}

{{ define "main" }}
    <article>
        <div class="summary">
            <h1 class="title">{{ .Title }}</h1>
            <small><time>{{ .Date | time.Format ":date_long" }}</time></small>
            {{ if isset .Params "author" }}
                <p>
                    <span class="author">
                        {{ i18n "writtenBy" }} <br/>
                        <a href="{{ .Params.Author.Homepage | absLangURL }}">
                            {{ .Params.Author.Name }} <span class="arrow-right">&#8594;</span>
                        </a>
                    </span>
                </p>
                <p>
                    <span class="reciter">
                        {{ i18n "recitedBy" }} <br/>
                        <a href="{{ .Params.Reciter.Homepage | absLangURL }}">
                            {{ .Params.Author.Name }} <span class="arrow-right">&#8594;</span>
                        </a>
                    </span>
                </p>
                <div class="social-share">
                    <a class="social-share-button facebook" role="button" target="_blank" referrerpolicy="no-referrer"
                        href="https://www.facebook.com/sharer/sharer.php?u=https://amuravela.com&p[title]=L'Amuravela"></a>
                    <a class="social-share-button twitter" role="button" target="_blank" referrerpolicy="no-referrer"
                        href="https://twitter.com/share?text=L'Amuravela&url=https://amuravela.com"></a>
                    <a class="social-share-button pinterest" role="button" target="_blank" referrerpolicy="no-referrer"
                        href="http://pinterest.com/pin/create/button/?url=https://amuravela.com&description=L'Amuravela"></a>
                    <a class="social-share-button whatsapp" role="button" target="_blank" referrerpolicy="no-referrer"
                        href="https://api.whatsapp.com/send?text=L'Amuravela: https://amuravela.com"></a>
                </div>
            {{ end }}
        </div>
        <div class="content">
            {{.Content}}
        </div>
    </article>

    <script defer>
        // Trigger web share API when on mobile
        if (navigator.canShare && /Mobi|Android/i.test(navigator.userAgent)) {
            const shareData = {
                title: "L'Amuravela",
                text: 'Un texto que aparece al compartir',
                url: 'https://amuravela.com'
            }
            const socialButtons = document.querySelector('.social-share-button');
            // Share must be triggered by "user activation"
            socialButtons.addEventListener('click', async () => {
                try {
                    await navigator.share(shareData);
                } catch(err) {
                    console.error(err);
                }
            });
        }
    </script>
{{ end }}