<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
	<head>
		{{- partial "head/base.html" . -}}
		{{- block "styles" . }}
			<style>
				{{- with resources.Get "css/homepage.css" | resources.PostCSS -}}
					{{- .Content | safeCSS -}}
				{{- end -}}
			</style>
		{{- end }}
	</head>
	<body>
		{{- partial "structured-data/base.html" . -}}
		<header>
			{{- partial "header/base.html" . -}}
		</header>
		<main class="main">
			{{- block "main" . }}{{- end }}
		</main>
		<footer class="footer">
			{{- partial "footer/base.html" . -}}
		</footer>
	</body>
</html>
