{{ define "styles" }}
    <style>
        {{- with resources.Get "css/article.css" | resources.PostCSS -}}
            {{- .Content | safeCSS -}}
        {{- end -}}
    </style>
{{ end }}

{{ define "main" }}
    <img lazy="true" class="water-mark" src="/images/ilustracion-la-ribera.png" alt="{{ i18n "watermark"}}">
    <article>
        <div class="summary">
            <h1 class="title">{{ .Title }}</h1>
            {{ with .Params.image.src }}
                <img lazy="true" class="image" src="{{ . }}" alt="{{ $.Params.Title }}">
            {{ end }}
            <div class="social-share">
                <a class="social-share-button" id="share-button" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} {{ i18n "mobile"}}"></a>
                <a class="social-share-button facebook" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Facebook"
                    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"></a>
                <a class="social-share-button twitter" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Twitter"
                    href="https://twitter.com/share?&url={{ .Permalink }}"></a>
                <a class="social-share-button pinterest" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Pinterest"
                    href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}"></a>
                <a class="social-share-button whatsapp" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} WhatsApp"
                    href="https://api.whatsapp.com/send?text={{ .Permalink }}"></a>
            </div>
        </div>
        <div class="content">
            {{.Content}}
        </div>
    </article>

    <script async>
        // Trigger web share API when on mobile
        if (navigator.canShare) {
            const shareData = {
                title: "{{ .Title }}",
                text: "{{ .Description }}",
                url: '{{ .Permalink }}'
            }
            // Share must be triggered by "user activation"
            document.getElementById('share-button').addEventListener('click', async () => {
                try {
                    await navigator.share(shareData);
                } catch(err) {
                    console.error(err);
                }
            });
        }
    </script>
{{ end }}