* {
    box-sizing: border-box;
}
body {
    color: #37301e;
    font-family: serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-size: 7.5rem;
}
h2 {
    font-size: 5rem;
}

a {
    color: #37301e;
    border-bottom: 1px solid #37301e;
    transition: border-bottom-color .25s ease-out;
    text-decoration: none;
    span.arrow-right,
    span.arrow-left {
        box-sizing: border-box;
        display: inline-block;
        user-select: none;
        transition: transform .5s ease-in-out;
    }
    &:visited {
        color: #37301e;
    }
    &:hover {
        border-bottom-color: transparent;
        span.arrow-right {
            transform: translateX(.3em);
        }
        span.arrow-left {
            transform: translateX(-.3em);
        }
    }
}

blockquote {
    width: fit-content;
    color: #37301E;
    background-color: #FFFFFF;
    font-size: 2rem;
    quotes: '”' '„';
    padding: 2rem;
    position: relative;
    text-align: center;
    &:before,
    &:after {
        color: #F3EFEB;
        position: absolute;
        font-size: 10rem;
    }
    &:before {
        top: -1.5rem;
        left: -1.5rem;
        content: open-quote;
    }
    &:after {
        bottom: -1.5rem;
        right: -1.5rem;
        content: close-quote;
    }
}

article {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    .summary {
        display: sticky;
        text-align: center;
        align-items: center;
        max-width: 50%;
        .title {

        }
        .author {
            font-size: 1.5rem;
        }
    }
    .content {
        flex-direction: column;
        text-align: center;
        p {
            width: 100%;
            font-size: 1.25rem;
        }
    }
}