@import "partials/base.css";
@import "partials/header.css";
@import "partials/footer.css";

main {
    .hero {
        display:flex;
        flex-direction:column;
        text-align: center;
        width: 100%;
        height: 90vh;
        justify-content: center;
        align-items: center;
        .hero__content {
            .title {
                margin: 0 0 3rem 0;
            }
            .introduction-quote {
                margin: 0 0 3rem 0;
            }
            .cta {
                font-size: 1.5rem;
            }
        }
    }

    blockquote {
        color: #37301E;
        background-color: #FFFFFF;
        font-size: 2rem;
        margin: 3rem 0;
        position: relative;
        text-align: center;
    }

    section {
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .section__content {
            max-width: 50%;
            flex-direction: column;
            text-align: center;
        }
    }
}

header {
    nav.menu {
        z-index: 1;
        display: block;
        position: fixed;
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox]:checked ~ ul {
            display: block;
        }
        ul {
            display: none;
            position: fixed;
            top: 50px;
            left: 0;
            margin: 0;
            padding: 0 0 0 .5rem;
            list-style: none;
            li {
                padding: .5rem;
                &.active{
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    main {
        .hero {
            .hero__content {
                .title {
                    margin: 0 0 2rem 0;
                }
                .main-cta {
                    font-size: 1.25rem;
                }
            }
        }
        blockquote {
            font-size: 1.5rem;
        }
        section {
            padding: 1.25rem;
            .section__content {
                max-width: 100%;
            }
        }
    }
}