@import "partials/base.css";
@import "partials/header.css";
@import "partials/footer.css";

main {
    nav.menu {
        z-index: 1;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        .menu-list {
            display: block;
            overflow: hidden;
            padding: .25rem;
            list-style: none;
            transition: .5s;
            -webkit-transition: .5s;
            &:hover {
                background-color: rgba(255, 255, 255, .75);
                box-shadow: 0 0 10px 20px rgba(255, 255, 255, .75);
            }
            &:hover a.text {
                opacity: 1;
            }
            li {
                padding: .5rem;
                a.text {
                    opacity: 0;
                    transition: .5s;
                    -webkit-transition: .5s;
                    text-shadow: 0 0 10px #fff;
                    border-bottom: none;
                }
                .circle {
                    display: inline-block;
                    margin-right: 1rem;
                    height: .5rem;
                    width: .5rem;
                    border-radius: .5rem;
                    border: 2px solid #37301E;
                }
                &.active {
                    .circle {
                        background-color: #37301E;
                    }
                    .text {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .hero {
        display:flex;
        flex-direction:column;
        text-align: center;
        width: 100%;
        height: 90vh;
        justify-content: center;
        align-items: center;
        .hero__content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .title {
                margin: 0 0 3rem 0;
            }
            .introduction-quote {
                margin: 0 0 3rem 0;
            }
            .cta {
                font-size: 1.5rem;
            }
        }
    }

    blockquote {
        color: #37301E;
        font-size: 2rem;
        margin: 3rem 0;
        position: relative;
        text-align: center;
    }

    section {
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .section__content {
            max-width: 720px;
            flex-direction: column;
            text-align: center;
            #map {
                box-sizing: initial;
                width: 100%;
                max-height: 500px;
                aspect-ratio: 1.5 / 1;
                margin: auto;
                img {
                    max-width : none;
                }
            }
            a {
                display: inline-block;
                margin-top: 2rem;
            }
        }
    }

    .contact-form {
        margin-top: 2rem;
        text-align: left;
        input, textarea, button {
            font-family: 'Times New Roman', serif;
            font-size: 1.25rem;
            border: 1px solid #333;
            color: #333;
            margin: 1rem auto;
            padding: 1rem;
            width: 100%;
            max-width: 100%;
        }
        button {
            background-color: #eee;
            &:disabled {
                cursor: default;
                color: #666;
            }
            &:disabled:hover {
                cursor: default;
                background-color: #eee;
            }
            &:hover {
                cursor: pointer;
                background-color: #ccc;
            }
        }
    }

    .closing-quote {
        margin: 24rem .5rem;
    }
}

@media only screen and (max-width: 920px) {
    main {
        padding: 1.5rem;
        nav.menu {
            .menu-list {
                &:hover{
                    background-color: transparent;
                    box-shadow: none;
                }
            }
            .menu-list a.text {
                display: none;
            }
        }
        .hero {
            .hero__content {
                .title {
                    margin: 0 0 2rem 0;
                }
                .main-cta {
                    font-size: 1.25rem;
                }
            }
        }
        blockquote {
            font-size: 1.5rem;
        }
        section {
            padding: 1.25rem;
            .section__content {
                max-width: 100%;
            }
        }
        .contact-form {
            input, textarea {
                font-size: 1.1rem;
                margin: .5rem auto;
            }
            label {
                font-size: 1.25rem;
            }
        }
        .closing-quote {
            margin: 8rem .5rem;
        }
    }
}