@import "partials/base.css";
@import "partials/header.css";
@import "partials/footer.css";

main {
    nav.menu {
        z-index: 1;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 0 5px 5px 0;
        padding: .5rem;
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
        input[type=checkbox] {
            display: none;
        }
        .menu-button {
            svg {
                margin: .5rem auto;
            }
            label {
                #menu {
                    display: block;
                }
                #cross {
                    display: none;
                }
            }
        }
        input[type=checkbox]:checked ~ .menu-button label {
            #menu {
                display: none;
            }
            #cross {
                display: block;
            }
        }
        input[type=checkbox]:checked ~ .menu-list {
            display: block;
        }
        .menu-list {
            display: none;
            overflow: hidden;
            padding: .5rem;
            list-style: none;
            li {
                padding: .5rem;
                .circle {
                    display: inline-block;
                    margin-right: 1rem;
                    height: .5rem;
                    width: .5rem;
                    border-radius: .5rem;
                    border: 2px solid #37301E;
                }
                &.active .circle{
                    background-color: #37301E;
                }
            }
        }
    }
    .hero {
        display:flex;
        flex-direction:column;
        text-align: center;
        width: 100%;
        height: 90vh;
        justify-content: center;
        align-items: center;
        .hero__content {
            .title {
                margin: 0 0 3rem 0;
            }
            .introduction-quote {
                margin: 0 0 3rem 0;
            }
            .cta {
                font-size: 1.5rem;
            }
        }
    }

    blockquote {
        color: #37301E;
        font-size: 2rem;
        margin: 3rem 0;
        position: relative;
        text-align: center;
    }

    section {
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .section__content {
            max-width: 50%;
            flex-direction: column;
            text-align: center;
        }
    }
    .closing-quote {
        margin: 12rem 0;
    }
}

@media only screen and (max-width: 800px) {
    main {
        nav.menu {
            top: 75%;
        }
        .hero {
            .hero__content {
                .title {
                    margin: 0 0 2rem 0;
                }
                .main-cta {
                    font-size: 1.25rem;
                }
            }
        }
        blockquote {
            font-size: 1.5rem;
        }
        section {
            padding: 1.25rem;
            .section__content {
                max-width: 100%;
            }
        }
    }
}