{{ define "main" }}
    <nav class="menu">
        <ul class="menu-list">
            <li>
                <a href="#header" class="circle" aria-label="{{ i18n "header"}}"></a>
                <a href="#header" class="text">{{ i18n "header"}}</a>
            </li>
            <li>
                <a href="#what" class="circle" aria-label="{{ i18n "whatM"}}"></a>
                <a href="#what" class="text">{{ i18n "whatM"}}</a>
            </li>
            <li>
                <a href="#where" class="circle" aria-label="{{ i18n "whereM"}}"></a>
                <a href="#where" class="text">{{ i18n "whereM"}}</a>
            </li>
            <li>
                <a href="#when" class="circle" aria-label="{{ i18n "whenM"}}"></a>
                <a href="#when" class="text">{{ i18n "whenM"}}</a> </li>
            <li>
                <a href="#history" class="circle" aria-label="{{ i18n "historyM" }}"></a>
                <a href="#history" class="text">{{ i18n "historyM" }}</a>
            </li>
            <li>
                <a href="#amuravelas" class="circle" aria-label="{{ i18n "amuravelasM"}}"></a>
                <a href="#amuravelas" class="text">{{ i18n "amuravelasM"}}</a>
            </li>
            <li>
                <a href="#authors" class="circle" aria-label="{{ i18n "authorsM"}}"></a>
                <a href="#authors" class="text">{{ i18n "authorsM"}}</a>
            </li>
            <li>
                <a href="#reciters" class="circle" aria-label="{{ i18n "recitersM"}}"></a>
                <a href="#reciters" class="text">{{ i18n "recitersM"}}</a>
            </li>
            <li>
                <a href="#pixueto" class="circle" aria-label="{{ i18n "pixuetoM"}}"></a>
                <a href="#pixueto" class="text">{{ i18n "pixuetoM"}}</a>
            </li>
            <li>
                <a href="#contact" class="circle" aria-label="{{ i18n "contactM"}}"></a>
                <a href="#contact" class="text">{{ i18n "contactM"}}</a>
            </li>
        </ul>
    </nav>

    <section class="hero" id="header">
        <div class="hero__content">
            <h1 class="title">L'Amuravela</h1>
            <blockquote class="introduction-quote">
                En el nombri de Jesús<br>
                y la Virgin Soberana,<br>
                vou ichar l'Amuravela<br>
                comu San Pedru asperaba.
            </blockquote>
            <a class="cta" href="{{($.Site.GetPage "/amuravelas/lamuravela-2021").Permalink}}">
                {{ i18n "readLast"}} <span class="arrow-right">&#8594;</span>
            </a>
        </div>
    </section>

    <section id="what">
        <div class="section__content">
            <h2 class="section__title">{{ i18n "whatT"}}</h2>
            <p>{{ i18n "whatP1"}}</p>
        </div>
    </section>

    <section id="where">
        <div class="section__content">
            <h2 class="section__title">{{ i18n "whereT"}}</h2>
            <p>{{ i18n "whereP1"}}</p>

            <div id="map"></div>

            <a class="button" role="button" target="_blank" rel="noreferrer"
                id="directions-button"
                href="https://www.google.es/maps/dir/43.5633611,-6.1458889/@43.5633611,-6.1480776,17z"
                aria-label="{{ i18n "howToGetThere"}}">{{ i18n "howToGetThere"}} <span class="arrow-right">&#8594;</span></a>
        </div>
    </section>

    <section id="when">
        <div class="section__content">
            <h2 class="section__title">{{ i18n "whenT"}}</h2>
            <p>{{ i18n "whenP1"}}</p>
            <p>
                {{ i18n "nextDateIs"}} <br/>
                <b><time id="date">...</time></b>
            </p>
            <div>
                <h3 id="share-cta-title">{{ i18n "gonnaWatchShareCTA"}}</h3>
                <div class="social-share">
                    <a class="social-share-button" id="share-button" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} {{ i18n "mobile"}}"></a>
                    <a class="social-share-button facebook" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Facebook"
                        href="https://www.facebook.com/sharer/sharer.php?u=https://amuravela.com&p[title]={{ i18n "shareMessage"}}"></a>
                    <a class="social-share-button twitter" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Twitter"
                        href="https://twitter.com/share?text={{ i18n "shareMessage"}}&url=https://amuravela.com"></a>
                    <a class="social-share-button pinterest" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} Pinterest"
                        href="http://pinterest.com/pin/create/button/?url=https://amuravela.com&description={{ i18n "shareMessage"}}"></a>
                    <a class="social-share-button whatsapp" role="button" target="_blank" rel="noreferrer" aria-label="{{ i18n "shareOn"}} WhatsApp"
                        href="https://api.whatsapp.com/send?text={{ i18n "shareMessage"}} https://amuravela.com"></a>
                </div>
            </div>
        </div>
    </section>

    {{ with .Site.GetPage "history" }}
        <section id="history">
            <div class="section__content">
                <h2 class="section__title">{{ i18n "historyT"}}</h2>
                <p>{{ i18n "historyP1"}}</p>
                <p>{{ i18n "historyP2"}}</p>
                <a class="button" role="button"
                    href="{{.Permalink}}"
                    aria-label="{{ i18n "historyT"}}">{{ i18n "seeHistory"}} <span class="arrow-right">&#8594;</span></a>
            </div>
        </section>
    {{ end }}

    {{ with .Site.GetPage "amuravelas" }}
        <section id="amuravelas">
            <div class="section__content">
                <h2 class="section__title">{{ i18n "amuravelasT"}}</h2>
                <p>{{ i18n "amuravelasP1"}}</p>
                <a class="button" role="button"
                    href="{{.Permalink}}"
                    aria-label="{{.Title}}">{{ i18n "seeAmuravelas"}} <span class="arrow-right">&#8594;</span></a>
            </div>
        </section>
    {{ end }}

    {{ with .Site.GetPage "authors" }}
        <section id="authors">
            <div class="section__content">
                <h2 class="section__title">{{ i18n "authorsT"}}</h2>
                <p>{{ i18n "authorsP1"}}</p>
                <a class="button" role="button"
                    href="{{.Permalink}}"
                    aria-label="{{ i18n "seeAuthors"}}">{{ i18n "seeAuthors"}} <span class="arrow-right">&#8594;</span></a>
            </div>
        </section>
    {{ end }}

    {{ with .Site.GetPage "reciters" }}
        <section id="reciters">
            <div class="section__content">
                <h2 class="section__title">{{ i18n "recitersT"}}</h2>
                <p>{{ i18n "recitersP1"}}</p>
                <a class="button" role="button"
                    href="{{.Permalink}}"
                    aria-label="{{ i18n "seeReciters"}}">{{ i18n "seeReciters"}} <span class="arrow-right">&#8594;</span></a>
            </div>
        </section>
    {{ end }}

    {{ with .Site.GetPage "pixueto" }}
        <section id="pixueto">
            <div class="section__content">
                <h2 class="section__title">{{ i18n "pixuetoT"}}</h2>
                <p>{{ i18n "pixuetoP1"}}</p>
                <a class="button" role="button"
                    href="{{.Permalink}}"
                    aria-label="{{ i18n "seePixueto"}}">{{ i18n "seePixueto"}} <span class="arrow-right">&#8594;</span></a>
                {{ with $.Site.GetPage "vocabulary" }}
                    <br>
                    <a class="button" role="button"
                        href="{{ .Permalink}}"
                        aria-label="{{ i18n "seeVocabulary"}}">{{ i18n "seeVocabulary"}} <span class="arrow-right">&#8594;</span></a>
                {{ end }}
            </div>
        </section>
    {{ end }}

    <section id="contact">
        <div class="section__content">
            <h2 class="section__title">{{ i18n "contactT"}}</h2>
            <p>{{ i18n "contactP1"}}</p>
            <form class="contact-form" id="contact-form">
                <input type="text" name="_honey" style="display:none">
                <input type="hidden" name="_subject" value="Nuevo mensaje desde amuravela.com">
                <input type="hidden" name="_template" value="box">
                <textarea id="contact-content" aria-label="{{ i18n "contactL1"}}" placeholder="{{ i18n "contactPh1"}}" name="content" rows="6"></textarea>
                <button id="contact-submit">{{ i18n "contactSubmit"}}</button>
            </form>
        </div>
    </section>

    <div>
        <blockquote class="closing-quote">
            ¡Amura vela! ¡Isa vela!<br>
            ¡Fuego a babor!¡Fuego a estribor!<br>
            ¡¡¡Viva Pedro!!!
        </blockquote>
    </div>

    <script async>
        let scrolling = false;
        const menuLinks = document.querySelectorAll('nav.menu li');
        const mainSections = document.querySelectorAll('main section');

        analyzeScroll();

        window.addEventListener('scroll', () => {
            scrolling = true;
        }, { passive: true });

        setInterval(() => {
            if (scrolling) {
                scrolling = false;
                analyzeScroll();
            }
        }, 100);

        function analyzeScroll() {
            mainSections.forEach((section, index) => {
                if (section.getBoundingClientRect().y < 300) {
                    menuLinks.forEach(link => link.classList.remove('active'))
                    menuLinks[index].classList.add('active');
                }
            });
        }
    </script>

    <script async>
        const script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBvIwLP-_i4MctPUk2NKFrjHgbmPGsyplI&callback=initMap&v=weekly';
        script.async = true;

        window.initMap = function() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 43.5633611, lng: -6.1458889 },
                zoom: 15,
                mapId: 'a8bbcfd6dae4f6af',
                disableDefaultUI: true,
                mapTypeControl: false,
                scaleControl: true,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL
                },
                streetViewControl: false,
            });
            const marker = new google.maps.Marker({
                map: map,
                position: { lat: 43.5633611, lng: -6.1458889 },
                clickable: true,
                title: "La Ribera",
                icon: {
                    path: 'M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z',
                    anchor: new google.maps.Point(384/2,512),
                    fillColor: "#333",
                    fillOpacity: 1,
                    strokeWeight: 1,
                    strokeColor: "#333",
                    scale: 0.08,
                },
            });
            const contentString = '<strong>La Ribera</strong><p>{{ i18n "mapP1"}}</p>';
            const infoWindow = new google.maps.InfoWindow({
                content: contentString,
            });
            marker.addListener("click", () => {
                infoWindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            });
        };

        document.body.appendChild(script);
    </script>

    <script async>
        // Calculate next event date
        const today = new Date();
        const year = today > new Date(today.getFullYear(), '06', '29') ? today.getFullYear() + 1 : today.getFullYear();
        const date = new Date (year, '05', '29', '13', '00');

        document.getElementById("date").setAttribute("datetime", date.toISOString());
        document.getElementById("date").innerText = date.toLocaleString('{{.Lang}}', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});

        if (today.valueOf() === date.valueOf()) {
            document.getElementById("share-cta-title").innerText = "{{ i18n "watchingShareCTA"}}";
        }
    </script>

    <script async>
        if (navigator.canShare) {
            const shareData = {
                title: "L'Amuravela",
                text: "{{ i18n "shareMessage"}}",
                url: 'https://amuravela.com'
            }
            // Share must be triggered by "user activation"
            document.getElementById('share-button').addEventListener('click', async () => {
                try {
                    await navigator.share(shareData);
                } catch(err) {
                    console.error(err);
                }
            });
        } else {
            document.getElementById('share-button').remove();
        }
    </script>

    <script async>
        const form = document.getElementById('contact-form');
        const submitButton = document.getElementById('contact-submit');

        submitButton.addEventListener("click", (event) => {
            event.preventDefault();
            submitButton.disabled = true;
            submitButton.innerText = '...';

            fetch("https://formsubmit.co/ajax/40d4fa9d5f7d9e39b931dfc55c017bc6", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(new FormData(form)))
            })
            .then(response => {
                submitButton.innerText = '{{ i18n "contactSubmitted"}}';
            })
            .catch(error => console.log(error));
        }, false);
    </script>
{{ end }}
