{{ define "main" }}
    <div class="hero">
        <h1>L'Amuravela</h1>
        <blockquote class="introduction-quote">
            En el nombri de Jesús<br>
            y la Virgin Soberana,<br>
            vou ichar l'Amuravela<br>
            comu San Pedru asperaba.
        </blockquote>
        <a href="{{($.Site.GetPage "/amuravelas/lamuravela-2020").Permalink}}">{{ i18n "readLast"}} <span class="arrow-right">🡒</span></a>
    </div>
    {{ with .Site.GetPage "what" }}
        <article class="summary">
            <h2 class="summary__title">{{.Title}}</h2>
            <img src="{{ .Params.Image.Src }}" alt="{{.Title}}">
            <p>{{.Summary}}</p>
            <a class="button" role="button"
                href="{{.Permalink}}"
                aria-label="{{.Title}}">Saber mas</a>
        </article>
    {{ end }}

    {{ with .Site.GetPage "where" }}
        <article class="summary">
            <h2 class="summary__title">{{.Title}}</h2>
            <img src="{{ .Params.Image.Src }}" alt="{{.Title}}">
            <p>{{.Summary}}</p>
            <a class="button" role="button"
                href="{{.Permalink}}"
                aria-label="{{.Title}}">Saber mas</a>
        </article>
    {{ end }}

    {{ with .Site.GetPage "when" }}
        <article class="summary">
            <h2 class="summary__title">{{.Title}}</h2>
            <img src="{{ .Params.Image.Src }}" alt="{{.Title}}">
            <p>{{.Summary}}</p>
            <a class="button" role="button"
                href="{{.Permalink}}"
                aria-label="{{.Title}}">Saber mas</a>
        </article>
    {{ end }}

    {{ with .Site.GetPage "history" }}
        <article class="summary">
            <h2 class="summary__title">{{.Title}}</h2>
            <img src="{{ .Params.Image.Src }}" alt="{{.Title}}">
            <p>{{.Summary}}</p>
            <a class="button" role="button"
                href="{{.Permalink}}"
                aria-label="{{.Title}}">Saber mas</a>
        </article>
    {{ end }}

    {{ with .Site.GetPage "amuravelas" }}
        <article class="summary">
            <h2 class="summary__title">{{.Title}}</h2>
            <img src="{{ .Params.Image.Src }}" alt="{{.Title}}">
            <p>{{.Summary}}</p>
            <a class="button" role="button"
                href="{{.Permalink}}"
                aria-label="{{.Title}}">Saber mas</a>
        </article>
    {{ end }}

    <h2>Photos of L'Amuravela</h2>

    <blockquote class="closing-quote">
        ¡Amura vela! ¡Isa vela!<br>
        ¡Fuego a babor!¡Fuego a estribor!<br>
        ¡¡¡Viva Pedro!!!
    </blockquote>

{{ end }}
