{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ("/" | absLangURL) "name" (i18n "home"))) }}
{{ $path := trim (urls.Parse .Path).Path "/" }}
{{ $.Scratch.Add "path" "/" }}

{{ range $index, $element := split $path "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ $path := $.Scratch.Get "path" }}
    {{ $page := site.GetPage $path}}
    {{ $.Scratch.Add "path" "/" }}
    {{ if ne $element "_index.md"}}
        {{ $.Scratch.Add "breadcrumb" (slice (dict "url" $page.Permalink "name" $page.Title)) }}
    {{ end }}
{{ end }}

<div class="breadcrumbs">
    {{ range $index, $breadcrumb := $.Scratch.Get "breadcrumb" }}
        {{ if ne $index 0 }} / {{ end }}
        <a href='{{ $breadcrumb.url }}'>{{ $breadcrumb.name }}</a>
    {{ end }}
</div>

<div class="language-selector">
    {{ range .Site.Languages }}
        {{ if eq (string .LanguageName) (string $.Site.Language.LanguageName) }}
            <strong>{{ .LanguageName }}</strong>
        {{ else }}
            <a href="{{ . | absURL }}">{{ .LanguageName }}</a>
        {{ end }}
    {{ end }}
</div>